
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans antialiased overflow-x-hidden;
  }

  /* Smooth noise overlay */
  .bg-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.03;
    pointer-events: none;
    z-index: 50;
  }

  /* Custom Selection */
  ::selection {
    @apply bg-primary text-white;
  }
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
